<h5 class="font-bold">Edit own profile</h5>

<%= form_with model: @profile do |form| %>
  <div class="flex flex-col space-y-4 text-slate-800">
    <div>
      <%= form.label :first_name, class: "text-white" %><br>
      <%= form.text_field :first_name %>
    </div>
    <div>
      <%= form.label :last_name, class: "text-white" %><br>
      <%= form.text_field :last_name %>
    </div>
    <div>
      <%= form.label :description, class: "text-white" %><br>
      <%= form.text_area :description %>
    </div>
    <div>
      <%= form.label :img_url, class: "text-white" %><br>
      <%= form.text_field :img_url %>
    </div>
    <div>
      <%= form.label :uploaded_image, "Profile Image", class: "text-white" %>
      <%= form.file_field :uploaded_image, class: "text-white"  %>
    </div>

    <%= form.submit "Update", class: "bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600 focus:outline-none" %>
    
  </div>
<% end %>