<h1>Edit own profile</h1>

<%= form_with model: @profile do |form| %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :img_url %>
    <%= form.text_field :img_url %>
  </div>
  <%= form.submit %>
<% end %>