<div class="my-2 flex space-x-2 min-w-full">
    <div>
        <%= link_to profile_path(comment.commentor.id) do  %>
            <%= render partial: "/profiles/profile_picture" , locals:{profile: comment.commentor.profile} %>
        <% end %>
    </div>

    <div>
        <%= link_to profile_path(comment.commentor.id) do  %>
            <%= comment.commentor.username %> 
        <% end %>
        <p class="ps-2"><%= comment.contents %></p>
    </div>
</div>