<div>
    <h5><%= post.author.username %></h5>
    <p><%= post.contents %></p>
    <%= render partial: "like", locals: { post: post } %>
    
    <%= render partial: "/comments/new_comment", locals: { post: post } %>
    <%= render post.comments %>
</div>