<div>
    <h5>
        <%= link_to profile_path(post.author.id) do  %>
            <%= render partial: "/profiles/profile_picture" , locals:{profile: post.author.profile} %>
            <%= post.author.username %> 
        <% end %>

    
    : <%= post.contents %>
    </h5>
    
    <% if post.post_image.persisted? %>
        <%= image_tag post.post_image %>
    <% end %>


    <%= render partial: "/posts/like", locals: { post: post } %>
    <%= render partial: "/comments/new_comment", locals: { post: post } %>
    <%= render post.comments.order(created_at: :desc) %>
</div>