<h1>New Post</h1>

<%= form_with model: @post do |form| %>
  <div>
    <%= form.label :contents %>
    <br>
    <%= form.text_area :contents %>
  </div>


  <div>
    <%= form.label :post_image %>
    <%= form.file_field :post_image %>
  </div>
  
  <br>
  <%= form.submit %>
<% end %>