<h5 class="font-bold">New Post</h5>

<%= form_with model: @post do |form| %>
  <div>
    <%= form.text_area :contents, class: "text-slate-800 w-full border border-gray-300 rounded p-2 resize-none" %>
  </div>

  <div class="my-4">
    <%= form.label :post_image, "Image" %>
    <%= form.file_field :post_image %>
  </div>
  
  <%= form.submit "Post", class: "bg-blue-500 w-full  text-white px-2 py-1 rounded hover:bg-blue-600 focus:outline-none" %>

  
<% end %>