<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails Final Project" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-gray-800 text-white">
    <div class="container max-w-none flex items-center flex-col w-lvw h-svh m-auto">

      <section class="flash-msg mt-4">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </section>

      <header class="mt-4">
        <% if current_user %>
          <%= render "/layouts/header" %>
        <% else %>
          <h1>My Rails Final Project Site</h1>
        <% end %>
      </header>
      
      <main class="flex-1 mt-4">
        <%= yield %>
      </main>

      <footer class="bg-slate-900 w-screen text-center">
        <p>Created by YC Wong @2024</p>
      </footer>
      
    </div>
  </body>
</html>
